.delete-button {
  display: flex;
  background-color: #f1c9c9;
  flex-direction: column;
  position: absolute;
  top: 24px;
  right: 0;
  margin-right: 3%;
  padding: 10px 24px;
  border-radius: none;
  border: 1px solid #210a61;
  cursor: pointer;
  font-size: medium;
}
.delete-button:hover {
  background-color: red;
  color: #fff;
  border: none;
}
