.container.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;
}
.link-to-home {
  padding: 10px;
  background-color: #1e11ca;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #87dbd7;
  text-decoration: none;
  cursor: pointer;
}
.link-to-home:hover {
  background-color: #000;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
.go-back-button {
  padding: 12px 10px;
  background-color: #1e11ca;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #87dbd7;
  text-decoration: none;
  cursor: pointer;
}
.go-back-button:hover {
  background-color: #000;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
